<div class="input">
  <input class="input__input floating-label-field" id="{{ id }}" placeholder="{{ labelText }}" type="{{ type }}" required/>
  <label class="input__label floating-label" for="{{ id }}">{{ labelText }}</label>
</div>