<div class="input">
  <input class="input__input animated zoomIn floating-label-field" id="{{ id }}" placeholder="{{ labelText }}" type="{{ type }}" required/>
  <label class="input__label animated zoomIn floating-label" for="{{ id }}">{{ labelText }}</label>
</div>