<header class="sidebar active">
  <nav class="sidebar__nav">
    <ul class="sidebar__nav__ul">
      <li class="nav-item logo">
        <a href="/" class="logo__link">
          <h1 class="logo__link__title"><span class="logoLetter">S</span><span class="logoLetter">B</span></h1>
          <p class="logo__link__subTitle">Avocat</p>
        </a>
      </li>
      <li class="nav-item"><a class="nav-item__link collap"><i class="nav-item__link__ic icon-icon-menu"></i></a></li>
      {% for item in items %}
        <li class="{{ classLi }}"><a href="{{ item.link }}" class="{{ classA }} {{ item.classActive }}"><i class="{{ classIcon }} {{ item.classIcon }}"></i><p class="{{ classTitle }}">{{item.content}}</p></a></li>
      {% endfor %}
    </ul>
  </nav>
</header>